.sidenav{
    width: 10vw;
    height: 100%;
    background-image: url("cardimg.jpg");
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidenav a, .sidenav a img{
    margin: auto;
    height: 7vw;
    width: 7vw;
}

.sidenav li {
    list-style-type: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.sidenav img:hover {
    transform: scale(120%);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {width: 100px;}
  }

body{
    padding-left: 10vw;
    background-image: url("bgpic.png");
    
}
h5{
    color: aliceblue;
}
.bp-kepek{
    height: 75px;
    width: 75px;
    margin: auto;
    border-radius: 20px;
}
.build-path{
    color: aliceblue;
}

.items_kep{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    
    
    
}
.items_card{
    height: 380px;
    width: 350px;
}
.nyil{
    font-size: 18pt;
   padding: auto;
}
h6{
    text-decoration: underline;
}
.card-title{
    text-align: center;
}
.card_kep{
    text-align: center;
    
    background-image: url("cardimg.jfif");
    background-repeat: repeat;
}
.card-body{
    border-top: lightsteelblue solid 3pt;
    
    background-image: url("kepek/card\ bg.jpg");
    color: blanchedalmond;
    height: 250px;
    
    
}
.ch-icon{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 60px;
}

.item-stat{
    text-align: center;
}

#item-h1{
    text-align: center;
    color: blanchedalmond;

}

.item-ossz-kepek{
    padding-right: 30px;
    padding-left: 30px;
    
    
    

}
.item-ossz-statok{
    color: blanchedalmond;
}

.bp-icon{
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
}