.sidenav{
    width: 10vw;
    height: 100%;
    background-image: url("cardimg.jfif");
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidenav a, .sidenav a img{
    margin: auto;
    height: 7vw;
    width: 7vw;
}

.sidenav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav li:hover {
    border: solid 2px navy;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {width: 100px;}
  }

body{
    padding-left: 10vw;
    background-image: url("bgpic.png");
}

.items_kep{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    
}
.items_card{
    height: 380px;
    width: 350px;
}
h6{
    text-decoration: underline;
}
.card-title{
    text-align: center;
}
.card_kep{
    text-align: center;
    background-color: lightcyan;
    background-image: url("kepek/brackets-bg.jpg");
    background-repeat: no-repeat;
}
.card-body{
    border-top: lightsteelblue solid 3pt;
    
    background-image: url("kepek/card\ bg.jpg");
    color: blanchedalmond;
    height: 250px;
    
    
}

.items_card{
    width: 300px;
}

#item-h1{
    text-align: center;

}

.item-ossz-kepek{
    padding-right: 50px;

}
.item-ossz-statok{
    color: blanchedalmond;
}
.item-table-title{
    font-weight: bold;
}
.item-table-title-oszlop{
    padding-right: 50px;
    padding-left: 15px;
}
td{
    border: solid 2pt blanchedalmond;
}