body{
    /* font-family: ; */
    padding-left: 150px;
    background-image: url("bgpic.png");
    background-size: cover;
    background-repeat: repeat-y;
    padding-top: 10px;
    overflow-x: hidden;
}

.sidenav{
    width: 150px;
    height: 100%;
    background-image: url("cardimg.jpg");
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    transition: 0.5s;
}

.sidenav a, .sidenav a img{
    margin: auto;
    height: 100px;
    width: 100px;
    transition: 0.3s;
}

.sidenav li {
    list-style-type: none;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
}

.sidenav img:hover {
    transform: scale(120%);
}

#sidebutton{
    display: none;
    background-image: url("cardimg.jpg");
    color: aliceblue;
    width: 45px;
    height: 45px;
    font-size: 25px;
    z-index: 2;
    position: fixed;
    top: 5px;
    left: 70px;
    cursor: pointer;
}

/* @media screen and (max-width: 800px) {
    #sidebutton{display: inline;}
    .sidenav{display: none; width: 185px;}
    a img{width: 75px;}
    body{padding-left: 75px;}
} */

table{
    empty-cells: show;
    margin-left: auto;
    margin-right: auto;
}

 img{
    cursor: pointer;
}

.shardico{
    margin-top: 0px!important;
    width: 40px!important;
}

.sequipped{
    filter: brightness(40%);
}

.equipped{
    border-radius: 50%;
    border: 2px yellow solid;
}

.left-row{
    margin-left: 30px;
}

/* 
.row{
    margin-left: auto;
    margin-right: auto;
} */

.rune-paths{
    margin-left: 15%;
}

.col img{
    width: 55px;
    margin-top: 15px;
}

.col img:hover{
    filter: brightness(60%);
}

.runeshards .row .col img{
    width: 50px;
}

.runeshards{
    margin-top: 40px;
    margin-left: 25px;
}

.marg-tp{
    margin-top: 25px;
}


img.keystones{
    width: 87.5px; 
}

.leftmargo{
    margin-left:25px;
}

