<<<<<<< HEAD
#emberknife, #hailblade, #dark_seal, #tear_of_the_goddess, #dorans_blade, #dorans_ring, #dorans_shield{
    height: 80px;
    width: 80px;
=======
body{
    padding-left: 150px;
    background-image: url("bgpic.png");
}

.champ{
    width: 250px;
    margin: auto;
    background-image: url("cardimg.jfif");
    background-color: white;
    background-blend-mode: luminosity;
    color: lightgray;
}

.role-btn{
    display: inline-block;
    width: 6rem;
    height: 60px;
}

#role-swap{
    margin: 0px auto;
    margin-bottom: 30px;
    width: 35rem;

>>>>>>> be7e1e1404c7e22d516caaa700edf8dbe843e5e3
}